<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jorge.app.ccm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".gadget.SpinnerVehiclesActivity"/>
        <activity android:name=".ui.sessionStatus.SessionStatusActivity" />
        <activity android:name=".ui.location.LocationActivity" />
        <activity android:name=".ui.expenses.ExpensesActivity" />
        <activity android:name=".ui.sessionHistoric.SessionHistoricActivity" />
        <activity android:name=".ui.VehicleCu.UpdateVehicleActivity"/>
        <activity android:name=".ui.VehicleCu.RegistryVehiclesActivity"/>
        <activity android:name=".ui.sessionCrurrent.SessionCurrentActivity" />
        <activity android:name=".ui.vehiclesSelect.VehiclesSelectListActivity" />
        <activity android:name=".ui.vehicleStatus.VehiclesStatusListActivity" />
        <activity android:name=".ui.home.HomeActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>